  body {
    background-color: #fbbc99; /*Dit is de achtergrondkleur voor alle pagina's, tenzij ik specefiek een andere kleur kies voor de pagina*/
  }

  #body1 {
    background-image: url("bloemen7.jpeg"); /* Hiermee maak ik een afbeelding mijn achtergrond, alleen op body1*/
    background-size: cover; /* Dit zorgt ervoor dat de afbeelding het hele scherm bedekt, en niet een deel omdat de afbeelding te klein is*/
    background-position-x: right;
  }

  ul { 
    list-style-type: none; /*Dit zorgt ervoor dat de lijst in het menu geen punten hebben ervoor*/
    margin: 0; /*Dit geeft aan hoeveel ruimte er is tussen de tekst en de zijkanten van het scherm*/
    padding: 0; /*Dit geeft aan hoeveel ruimte er om de tekst heen zit*/
    overflow: hidden;
    background-color: #ed4968; /*Dit is de hoofdkleur van het menu, de achtergrond*/
  }
  
  li {
    float: left; 
  }
  
  li a {
    display: block;
    color: cornsilk;
    text-align: center; /*Dit zorgt ervoor dat de tekst in het midden van de knop zit*/
    padding: 14px 16px;
    text-decoration: none; /*Dit bepaald hoe de tekst in het menu eruit ziet.*/
  }
  
  li a:hover {
    background-color: #D1d175; /*als je op het menu klikt kan je zien welke is geselecteerd*/
  }

  li {
    border-right:1px solid#bbb; /*dit zorg ervoor dat er in het menu, lijntjes zitten zodat het duidelijk is waar je op de andere pagina kan klikken om naar de volgende te gaan*/
  } 
  </ul> /* Dit is het einde van mijn code van mijn horizontale menu*/
  
  ul {
    position:fixed;
    top: 0;
    width:100%;
  } /* Deze code zorgt ervoor dat het menu mee gaan als je gaat scrollen op de website*/

  p {
    border-radius: 25px; /* Dit rond de hoeken van mijn element af*/
    background-color: #ed4968; /*Dit is de achtergrondkleur van mijn tekst*/
    padding: 20px; /*Dit zorgt voor de rand om de tekst in het element, hoe hoger de px, hoe meer ruimte eromheen komt*/
    margin: 20px;
    font-size: 16px; /* Dit zorgt voor de grootte van mijn tekst*/
    font-family: 'Courier New', Courier, monospace; /* Dit zorgt voor een andere lettertype*/
    color: cornsilk; /*Dit is de kleur van mijn tekst*/
  }

  #p1 {
    width: 40%; /*Dit laat mijn eerste paragraaf maar 40% van het scherm bedekken*/
  }

  #p2 {
    width: 80%;
  }

  h1 {
    font-family: Georgia, serif; /* Ik heb een andere lettertype gekozen voor mijn tekst*/
    margin:40px; /*Dit is de ruimte die zit tussen de elementen en de tekst, hoe hoger de px, hoe groter de afstand*/
    color: #f8f2ec;
    font size: 40px;
    text-shadow: 1px 2px 4px red, 0 0 35px green, 0 0 5px orange; /*Dit zorgt voor een schaduw om mijn h1 tekst 
    (dus 'over mij'), ik heb uitgeprobeerd met de kleuren en vond deze combinatie het beste met mijn pagina*/
  }


  #spel1, #spel2{
 float: right; /*Hierdoor komen de 2 spellen die ik elk een eigen id heb gegeven, aan de rechterkant van het scherm terecht.*/
}


