body{
    background-color: #fda170; /*Dit is de achtergrondkleur voor alle pagina's, tenzij ik specefiek een andere kleur kies voor de pagina*/
}


#body1 {
    background-image: url("bloemen7.jpeg"); /* Hiermee maak ik een afbeelding mijn achtergrond, alleen op body1*/
    background-size: cover; /* Dit zorgt ervoor dat de afbeelding het hele scherm bedekt, en niet een deel omdat de afbeelding te klein is*/
    background-position-x: right;
    }

ul { 
    list-style-type: none; /*Dit zorgt ervoor dat de lijst in het menu geen punten hebben ervoor*/
    margin: 0; /*Dit geeft aan hoeveel ruimte er is tussen de tekst en de zijkanten van het scherm*/
    padding: 0; /*Dit geeft aan hoeveel ruimte er om de tekst heen zit*/
    overflow: hidden;
    background-color: #ed4968; /*Dit is de hoofdkleur van het menu, de achtergrond*/
  }
  
  li {
    float: left; 
  }
  
  li a {
    display: block;
    color: #482e1d;
    text-align: center; /*Dit zorgt ervoor dat de tekst in het midden van de knop zit*/
    padding: 14px 16px;
    text-decoration: none; /*Dit bepaald hoe de tekst in het menu eruit ziet.*/
  }
  
  li a:hover {
    background-color: #D1d175; /*als je op het menu klikt kan je zien welke is geselecteerd*/
  }

  li {
    border-right:1px solid#bbb; /*dit zorg ervoor dat er in het menu, lijntjes zitten zodat het duidelijk is waar je op de andere pagina kan klikken om naar de volgende te gaan*/
  } 

  </ul> /* Dit is het einde van mijn code van mijn horizontale menu*/
  
  ul {
    position:fixed;
    top: 0;
    width:100%;
  } /* Deze code zorgt ervoor dat het menu mee gaan als je gaat scrollen op de website*/

  #p1 {
    border-radius: 25px; /* Dit maakt de hoeken van mijn tekst minder puntig*/
    background-color: #ed4968; /*Dit is de achtergrondkleur van mijn tekst*/
    width: 40%;
    padding: 20px; /*Dit zorgt voor de rand om de tekst in het element, hoe hoger de px, hoe meer ruimte eromheen komt*/
    margin: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
  }

  h1{
    font-family: Georgia, serif;
    margin:15px;
  }




